*{
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.pp-modal .modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.pp-modal .modal-body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.pp-modal .modal-body::-webkit-scrollbar-thumb {
    background-color: #787677;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

/*section{*/
    /*padding-top: 30px;*/
    /*padding-bottom: 100px;*/
    /*width: 100%;*/
/*}*!*/

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
section.container section{
    width: 70% !important;
}

aside section{
    width: 30%!important;
}

section h1, section h2{
    font-family: 'DM Serif Display', serif;
}

section h1{
    font-size:48px;
    line-height: 10rem;
    color:#000;
}

section h2{
    color: #4b4b4b;
}

section:not(#info) p, td{
    font-size:32px;
}

.cmd{
    display: inline-flex;
    padding: 5px 10px;
    color:#fff;
    background: #000;
    font-size: 24px;
    border-radius: 5px;
}

tr td:first-child{
    text-align: left;
}

tr td:last-child{
    text-align: right;
}*/




/* SEPCIALs */

section#info p{
    padding-top: 25px;
    color: #d7dbdc;
}

section#info a{color: #bdc3c7;}
section#info a:hover{color: #95a5a6;}

section#install{
    background-color: #388E3C;  /* color level 700 */
}

section#install h1, .install-item a{             /* color level 300 */
    color:#81C784;
}

    .install-packages{
        display: flex;
        justify-content: center;
    }

    .install-item{
        display: flex;
        padding: 10px;
        border-radius: 10px;
    }

    .install-item:hover{
        background-color: #1B5E20;
    }

    .install-item a{
        font-size:36px;
    }

    .install-item i[class^="devicon"]{
        font-size: 48px;
        color: #81C784;
    }

section#step1{
    background-color: #0097A7;
}

section#step1 h1, section#step1{
    color: #4DD0E1;
}


section#step2{
    background-color: #455A64;
}

section#step2 h1, section#step2{
    color: #90A4AE;
}

section#step3{
    background-color: #E64A19;
}

section#step3 h1, section#step3{
    color: #FF8A65;
}

section#step4{
    background-color: #FFA000;
}

section#step4 h1, section#step4{
    color: #FFD54F;
}

section#step5{
    background-color: #FBC02D;
}

section#step5 h1, section#step5{
    color: #FFF176;
}

section#step6{
    background-color: #AFB42B;
}

section#step6 h1, section#step6{
    color: #DCE775;
}

section#step7{
    background-color: #689F38;
}

section#step7 h1, section#step7{
    color: #AED581;
}


section#step8{
    background-color: #827717;
}

section#step8 h1, section#step8{
    color: #AFB42B;
}


section#step9{
    background-color: #F57F17;
}

section#step9 h1, section#step9{
    color: #FBC02D;
}


section#rainbow{
    background: linear-gradient(45deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
}

section#rainbow h1{
    color: rgba(255,255,255,.75);
}


section#redline{
    padding:5px;
    background-color: #D32F2F;
}

section#redline h1, section#redline{
    color: #fda6a6;
}


section#adv1{
    background: #4A148C;
}

section#adv1 h1, section#adv1{
    color: #9C27B0;
}



section#adv2{
    background: #880E4F;
}

section#adv2 h1, section#adv2{
    color: #E91E63;
}



/* RESPONSiVE FiXEDS */

@media (max-width: 768px){
    section{
        padding-right:15px;
        padding-left:15px;
    }
    section h1{
        font-size:24px;
        line-height: 5rem;
    }
}
